<table>
<tr>
<td><div class="container">
    <div class="row">
    	<div class="col-sm-6 col-sm-offset-3">
        	<div id="imaginary_container">
            	<div class="input-group stylish-input-group">
                	<input type="text" class="form-control"  placeholder="Search" >
                	<span class="input-group-addon">
                    	<button type="submit">
                        	<span class="glyphicon glyphicon-search"></span>
                    	</button>  
                	</span>
            	</div>
        	</div>
    	</div>
    	<div class="col-sm-3">
    	<%= link_to 'New article', new_story_path %>
    	</div>
    
    </div>
</div>
</td>
<td>

</td>
</tr>
</table>
