<header class="navbar navbar-default navbar-static-top" role="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-6" pull-left>
					<div class="nav">
						<h2>Story Board</h2>  
					</div>
				</div>
				<div class="col-lg-6 pull-right">	
					<div class="navbar-text navbar-right">
						<a href="#" >User Name</a>
					</div>
				</div>
			</div>
		</div>
		</header>
		