<header class="navbar navbar-default navbar-static-top" role="banner">
		
		<div class="container">
			<div class="row">
				<div class="col-md-6 pull-left">
					<div class="nav">
						<h2>Story Board</h2>  
					</div>
				</div>
				
				<div class="col-md-4">	
					<div class="navbar-text navbar-right">
					<ul class="nav nav-pills">
						<li role="presentation" class="active"><%= link_to("Projects", projects_path)%></li>
  						<li role="presentation" ><%= link_to("Admins", admins_path)%></li>
  						<li role="presentation"><%= link_to("Developers", developers_path)%></li>	
					</ul>
					
					</div>
				</div>


				<div class="col-md-2 pull-right">	
					<div class="navbar-text navbar-right">
						<span class="glyphicon glyphicon-user"></span>
						<%=link_to(current_user.name, "#")%>
					</div>
				</div>
				
			</div>
		</div>
</header>